/* HEADER */

.navbar {
  max-width: 960px;
  margin: 0 auto;
}

.brand {
  padding: 0 16px 16px 16px;
}

.brandActive {
  padding: 16px;
}

.brandTitle {
  font-family: 'Josefin Sans', 'sans-serif';
  font-weight: 700;
  font-size: 39px;
}

.brandSubtitle {
  font-weight: 600;
  margin: 0;
  margin-top: 4px;
  color: #878787;
  font-size: 12px;
}

.menu {
  padding: 8px 0;
}

.menuActive {
  composes: menu;
  border: 1px solid #979797;
}

.menuItem:hover {
  color: black !important;
}

.menuItem {
  cursor: pointer;
  font-size: 12px;
  padding: 8px 18px 8px 18px;
  color: #878787;
  text-decoration: none;
  display: block;
}

.menuItemBlack {
  composes: menuItem;
  color: black;
}

@media (min-width: 768px) {
  .brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 60px;
  }

  .brandTitle {
    font-size: 48px;
  }

  .brandSubtitle {
    font-size: 16px;
  }

  .brandActive {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .menuItem {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .brand {
    order: -1;
    padding: 75px;
    padding-bottom: 60px;
    align-items: flex-start;
    padding-left: 16px;
  }

  .navbar .brandActive {
    order: -1;
    padding: 75px;
    padding-bottom: 60px;
    align-items: flex-start;
  }

  .menu {
    display: flex;
    flex-direction: row;
    padding-right: 0;
  }

  .menuActive {
    border: none;
    padding-right: 0;
  }
}

/* BLOG ROLL */

.grid {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 8px;
}

.post {
  width: 50%;
  padding: 8px;
}

.postThumbnail {
  margin: 0 auto;
}

.postMeta {
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
}

.postMeta a {
  text-decoration: none;
  color: #575757;
  font-weight: 600;
}

@media (min-width: 768px) {
  .grid {
    max-width: 696px;
    padding: 0 12px;
  }

  .post {
    width: 33%;
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .grid {
    max-width: 960px;
    padding: 0;
  }

  .post {
    width: 33%;
    padding: 16px;
  }
}
